<%- include includes/header %>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5>August 11, 2017 <small class="text-muted">FRIDAY</small></h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="previous">What did you do yesterday?</label>
                            <textarea class="form-control" id="previous" rows="3"></textarea>
                            <small id="previousHelp" class="form-text text-muted">Explain briefly: one or two sentences.</small>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Did you meet yesterday's goals?
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="next">What are your goals for today?</label>
                            <textarea class="form-control" id="next" rows="3"></textarea>
                            <small id="nextHelp" class="form-text text-muted">Just one or two sentences.</small>
                        </div>

                        <div class="form-group">
                            <label for="impediments">Are there any impediments in your way?</label>
                            <textarea class="form-control" id="impediments" rows="3"></textarea>
                            <small id="impedimentsHelp" class="form-text text-muted">Leave this empty if you don't need help.</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Checkin</button>
                    </form>
                </div>
            </div>
        </div>

<%- include includes/footer %>
