<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Checkin</title>

        <link href="assets/css/style.min.css" rel="stylesheet">

        <style>
            body {
                padding-top: 5rem;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-theme fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Checkin</a>
            </div>
        </nav>
